@media (min-width: 1024px) {
  .center-last-item {
    grid-column: span 3 / span 3;
    display: flex;
    justify-content: center;
  }

  
  .center-last-item > * {
    height: 200px;
    width: 434px;
  }
}

.home-forms {
  position: relative;
  background: url('../../Banners/Banner-forms.jpg') no-repeat center center/cover;
  padding: 80px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
}

.home-forms::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 45, 95, 0.8); /* Overlay azul */
  z-index: 1;
}

.form-container {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
  max-width: 500px;
  width: 100%;
}

.form-container h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-input {
  padding: 14px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  width: 100%;
  color: black !important;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.submit-button {
  background: #009ada; 
  color: #fff;
  border: none;
  padding: 14px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.submit-button:hover {
  background: #009ada;
}