.popup {
    font-family: "Poppins", Sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    animation: fadeIn 0.3s ease-out;
}

.popup-content {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 480px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.popup-form #mc_embed_signup {
  width: 100%;
}

.popup-form .mc-field-group {
  margin-bottom: 15px; 
}

.popup-form .mc-field-group label {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.popup-form .mc-field-group input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.popup-form .button {
  background-color: #61CE70;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  transition: background-color 0.2s;
}

.popup-form .button:hover {
  background-color: #2dd4bf;
}

.popup-form .asterisk {
  color: #ff0000;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    color: #666;
    cursor: pointer;
    transition: color 0.2s;
}

.popup-close:hover {
    color: #333;
}

.popup-body {
    display: flex;
    width: 100%;
}

.popup-image {
    flex: 1;
    min-width: 0;
}

.popup-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 80% 20%;
}

.popup-form {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.popup-form h2 {
    font-family: "Rubik", Sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2em;
    color: #0c0c0c;

}

.popup-form label {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    margin-top: 10px;
}

.popup-form input {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-enviar {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    margin-top: 10px;
    background-color: #61CE70;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
}

.btn-enviar:hover {
    background-color: #64d473;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {

    .popup-content {
        background-color: #fff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        position: relative;
        width: 100%;
        max-width: 800px;
        height: 480px;
        display: flex;
        flex-direction: column;
    }

    .popup-body {
        flex-direction: column;
        height: auto;
    }

    .popup-image {
        height: 200px;
        width: 100%;
        margin-bottom: 10px;
    }

    .popup-image img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .popup-form {
        padding: 10px;
        width: 100%;
        height: auto;
        align-items: center;
    }

    .popup-form h2 {
        font-size: 24px;
        text-align: center;
    }

    .popup-form input {
        margin-top: 5px;
    }

    .popup-form label {
        font-size: 14px;
    }

    .btn-enviar {
        padding: 10px 20px;
        font-size: 14px;
    }

    .popup-close:hover {
        color: #ffffff;
    }

}